* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.home_header {
    background: url(bg5edit.jpeg) center/cover;
    width: 100%;
    height: 110vh;

}

.home_header .pages_nav .container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.home_header .pages_nav .container .pages_ul {
    display: flex;
    justify-content: space-around;
    width: 70%;

}

.home_header .pages_nav .container .pages_ul ul {
    display: flex;
    justify-content: space-around;
    width: 90%;
    list-style: none;
}

.home_header .pages_nav .container .pages_ul ul li a {
    color: black;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.5s;
}

.home_header .pages_nav .container .pages_ul ul li a:hover {
    color: #740E15;

}

.home_header .pages_nav .container .pages_ul ul li {
    transition: all 0.5s;
}

.home_header .pages_nav .container .pages_ul ul li:hover {
    transform: scale(1.1);
    transform: translateY(-3px);
}

.home_header .pages_nav .container .pages_logo {
    width: 15%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
align-items: center;
  height: 80px;
}
.home_header .pages_nav .container .pages_logo .nav_logo ,
.home_header .pages_nav .container .pages_logo .pages_themes{
    width:45%;
  
}
.home_header .pages_nav .container .pages_logo .nav_logo img{
    width: 100%;
}
.home_header .pages_nav .container .pages_logo .pages_themes i{
    padding:5% 5%;
    background: transparent;
    color: black;
      border-radius: 20%;
}
.home_header .home_content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    height: 80vh;
    color: black;
    width: 50%;
}

.home_header .home_content .container {
    width: 80%;
    margin: auto;
}

.home_header .home_content .container h1 {
    font-size: 60px;
    text-transform: uppercase;
}

.home_header .home_content .container h1 span {
    font-size: 50px;
}

.home_header .home_content .container p {
    padding-block: 20px;
    line-height: 25px;
}

.home_header .home_content .container select {
    width: 150px;
    height: 30px;
    border-radius: 20px;
    background: transparent;
     box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    padding-left: 2%;
}

.home_header .home_content .container .home_button {
    padding: 10px 30px;
    border: none;
    border-radius: 20px;
    background: transparent;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    transition: all 0.5s;
    text-transform: capitalize;
}
.home_header .home_content .container .home_button a{
    text-decoration: none;
    color: black;
}
.home_header .home_content .container .home_button:hover {
    background-color: rgba(116, 14, 21,0.7);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    transform: translateY(-3px);
    cursor: pointer;
}

.pages_footer .container {
    width: 80%;
    margin: auto;
    height: 50vh;
}
.pages_footer .container .footer_border{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
   height: 100%;
    align-content: center;
    border-bottom: 1px solid black;
}

.pages_footer .container .footer_border .footer_about h3{
    margin-left: 15%;
}
.pages_footer .container .footer_border .pages_logo .footer_logo{
    width: 50%;
  
}

.pages_footer .container .footer_border .pages_logo img {
    width: 100%;
}
.pages_footer .container .footer_border .footer_contact ul{
    list-style: none;
}
.pages_footer .container .footer_border .footer_contact ,.pages_footer .container .footer_border .footer_follow,.footer_about ,.pages_logo{
   width: 20%;
}
.pages_footer .container .footer_border .footer_contact .footer_ul , .pages_footer .container .footer_border .footer_about .links_list , .pages_footer .container .footer_border .footer_follow .footer_icons{
    margin-block:5%;
}
 .pages_footer .container .footer_border .footer_follow .footer_icons i{
      transition: all 0.5s;
 }
 .pages_footer .container .footer_border .footer_follow .footer_icons i:hover{
     color: #740E15;
     cursor: pointer;
 }
.pages_footer .container .footer_border .footer_about .links_list a , .pages_footer .container .footer_border .footer_contact .footer_ul li , .pages_footer .container .footer_border .pages_logo p{
    line-height: 30px;
}

.pages_footer .container .footer_border .pages_logo p span{
    border-bottom: 1px dashed  #740E15;;
    color:  #740E15;
    
}
.pages_footer .license{
    padding-block: 30px;
     text-align: center;
    
}
.pages_footer .license p{
     color: #686565;
    font-family: sans-serif;
    font-size: 13px;

}
.pages_footer .license p a{
    text-decoration: none;
    transition: all 0.7s;
}
.pages_footer .license p a:hover{
    color: #740E15;
    text-decoration: underline;
}
.fa-moon{
    cursor: pointer;
    border: #121212 1px solid;
}
body.light {
   background-color: #64a4ed;
  color: black;
  
}

body.light .pages_footer {
      background-color: #64a4ed;
}
body.light .license p a{
    color: black;
}
body.light .pages_footer .container .footer_border{
     border-bottom: 1px solid black;
}
body.dark {
  background: #121212;
  color: white;
}
body.dark .pages_footer{
     background-color: #0b2244;
}
body.dark .license p a{
color: white;
}
body.dark .pages_footer .container .footer_border{
     border-bottom: 1px solid white;
}
